.cardinfo {
  font-size: 11px;
}

.cardinfo i {
  margin-right: 5px;
}

.cardinfo-team-name {
  margin-right: 7px;
  background: #d1d1d1;
  color: #ffffff;
  padding: 2px 5px;
}

.cardinfo-date {
  color: #2196f3;
}